<mat-tab-group>
    <mat-tab label="Editar">
        <mat-form-field appearance="fill">
            <mat-label>Biografía</mat-label>
            <textarea (input)="inputTextArea($event)" matInput></textarea>
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Preview">
        <!-- Falta hacer la instalación y la importación del componente markdown, al intentar instalarlo daba error.  -->
        <!-- <markdown [data]="" ngPreserveWhitespaces></markdown> -->
    </mat-tab>
</mat-tab-group>>
    